:root {
    --primary-color: #29335c;
    --light-primary: #3f4f8d;
    --ligthest-color: #e9ebd5;
    --secondary-color: #774936;
    --light-secondary: #b97e64;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "roboto", sans-serif;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 2rem;
}

label,
input,
button {
    font-size: 1.8rem;
    font-weight: 600;
}

a,
p {
    font-size: 1.8rem;
}

body {
    display: flex;
    flex-direction: column;
    height: 100svh;
}

header,
header div {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-evenly;
}

header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    color: var(--ligthest-color);
    padding: 2.5rem 2rem;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 12svh 0 0 0;
    background-color: var(--ligthest-color);
    color: var(--primary-color);
    text-align: center;
}

footer {
    background-color: var(--ligthest-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
}

#search-div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-wrap: wrap;
    gap: inherit;
}

#search-div * {
    border-radius: 0.6rem;
    border-color: var(--ligthest-color);
    background-color: transparent;
}

#search-button {
    color: var(--ligthest-color);
    padding: 0.6rem 0.8rem;
    outline: none;
}

button:hover {
    cursor: pointer;
}

#search-button:focus,
#search-button:hover {
    background-color: #384372;
    color: #ffffff;
}

#search-button:active {
    background-color: var(--ligthest-color);
    color: #000;
}

#movie-title {
    max-width: 50rem;
}

#movie-year {
    width: 8rem;
}

#movie-title,
#movie-year {
    height: 3.2rem;
    padding-left: 1rem;
    color: var(--ligthest-color);
    outline: none;
}

#film-logo {
    font-size: 2.4rem;
}

#movie-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie-container {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    transition: all 0.2s;
}

#remove-button {
    margin-top: 2rem;
    padding: 0.5rem 0;
    border: 0.3rem solid var(--primary-color);
    border-radius: 1rem;
    background-color: var(--lightest-color);
    color: var(--primary-color);
    box-shadow: 0 0 1rem 0.1rem black;
}

#remove-button:hover,
#remove-button:focus {
    background-color: var(--primary-color);
    color: var(--lightest-color);
    outline: none;
}

#movie-list-container img {
    border: solid 1px black;
    height: 45rem;
    width: 30rem;
    border-radius: 1rem;
    object-fit: cover;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}
